vrrp_instance VI_1 {
    state MASTER
    interface {{ ansible_default_ipv4.alias }}
    virtual_router_id 72
    priority 150
    advert_int 1
    virtual_ipaddress {
       {{ haproxy_lb_ip }}
    }
